{% extends 'base/base.html' %}
{% load static %}

{% block title %}Wizz Digital – Your Digital Marketing Agency{% endblock %}

{% block content %}

<!-- Hero Section -->
<div class="aximo-hero-section dark-bg">
    <div class="container position-relative">
        <div class="row">
            <div class="col-lg-7">
                <div class="aximo-hero-content">
                    <h1>
                        <span class="aximo-title-animation">
                            Ready to
                        </span>
                        Redefine Your
                        Narrative?
                        <span class="aximo-title-icon-inline">
                            <img src="{% static 'assets/images/v1/star.png' %}" alt="">
                        </span>
                    </h1>
                    <div class="aximo-hero-btn-wrap">
                        <a class="aximo-default-btn pill aximo-header-btn aximo-cart-btn" href="#getintouch">
                            Get in Touch
                        </a>
                    </div>
                    <div class="aximo-hero-shape">
                        <img src="{% static 'assets/images/v1/shape1.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="aximo-hero-thumb">
                    <img src="{% static 'assets/images/slider.svg' %}" alt="Digital Marketing">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- About Section -->
<div class="section aximo-section-padding light-bg" id="about">
    <div class="container">
        <div class="aximo-section-title">
            <div class="row">
                <div class="col-lg-12">
                    <h2>
                        Your Digital 
                        <span class="aximo-title-animation">
                            Marketing Agency
                            <span class="aximo-title-icon">
                                <img src="{% static 'assets/images/v1/star2.png' %}" alt="">
                            </span>
                        </span>
                    </h2>
                </div>
            </div>
        </div>
        
        <div class="row">
             <div class="col-lg-7">
                <div class="aximo-about-content">
                    <h3 class="rt-spacer-60">Background</h3>
                    <p>Welcome to Wizz Digital, where innovation meets impact in the dynamic realm of marketing. Here, we redefine the landscape of marketing by blending creativity, cutting-edge technology, and strategic insights to craft unparalleled experiences that captivate audiences and drive results.</p>
                    
                    <div class="aximo-spacer-40"></div>
                    
                    <h3 class="rt-spacer-60">Solution</h3>
                    <p>We deliver tailored solutions by starting with strategic consultations to understand each client's unique challenges and goals. Our approach involves crafting customized marketing strategies, developing innovative campaigns, and leveraging data-driven insights for measurable results. Through digital transformation, brand development, and technology integration, we ensure our clients stay ahead in the dynamic market. We prioritize continuous optimization, education, and collaborative partnerships, working closely with clients to empower them and exceed expectations.</p>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="aximo-about-thumb wow fadeInUp" data-wow-delay="0.2s">
                    <img src="{% static 'assets/images/about.png' %}" alt="About Wizz Digital">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Section -->

<!-- Thinking Outside The Bubble Section -->
<div class="section aximo-section-padding dark-bg2">
    <div class="container">
        <div class="aximo-section-title light">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Thinking Outside The Bubble</h2>
                </div>
            </div>
        </div>
        
        <div class="row aximo-thinking-content">
            <div class="col-lg-7">
                <p>Welcome to Wizz Digital, where innovation meets impact in the dynamic realm of marketing. Here, we redefine the landscape of marketing by blending creativity, cutting-edge technology, and strategic insights to craft unparalleled experiences that captivate audiences and drive results.</p>
            </div>
        </div>
        
        <div class="row aximo-thinking-content-bottom">
            <div class="col-lg-5"></div>
            <div class="col-lg-7">
                <p>We deliver tailored solutions by starting with strategic consultations to understand each client's unique challenges and goals. Our approach involves crafting customized marketing strategies, developing innovative campaigns, and leveraging data-driven insights for measurable results. Through digital transformation, brand development, and technology integration, we ensure our clients stay ahead in the dynamic market. We prioritize continuous optimization, education, and collaborative partnerships, working closely with clients to empower them and exceed expectations.</p>
            </div>
        </div>
    </div>
</div>
<!-- End Thinking Section -->

<!-- Services Section -->
<div class="section aximo-section-padding light-bg" id="services">
    <div class="container">
        <div class="aximo-section-title2">
            <div class="row">
                <div class="col-lg-7">
                    <h2>
                        <span class="aximo-title-animation">
                            Services
                            <span class="aximo-title-icon">
                                <img src="{% static 'assets/images/v1/star2.png' %}" alt="">
                            </span>
                        </span>
                    </h2>
                    <p style="rt-spacer-60">Elevate your marketing strategy and make a difference.</p>
                </div>
                <div class="col-lg-5 d-flex align-items-center">
                    
                </div>
            </div>
        </div>
        
        <div class="aximo-service-wrap">
            <div class="row">
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.1s">
                        <div class="aximo-iconbox-data">
                            <h3>Marketing Strategy Development</h3>
                            <p>From comprehensive market analysis to targeted campaign planning, our experienced team is dedicated to devising innovative solutions that drive growth and maximize ROI.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.2s">
                        <div class="aximo-iconbox-data">
                            <h3>E-commerce Marketing</h3>
                            <p>We specialize in strategic advertising campaigns to targeted email marketing, our experienced team is dedicated to maximizing your online presence and maximizing your return on investment.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.3s">
                        <div class="aximo-iconbox-data">
                            <h3>SEO + Social Media Marketing</h3>
                            <p>Crafting integrated marketing strategies that combine the power of search engine optimization and social media to boost your online presence and drive meaningful connections with your audience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.4s">
                        <div class="aximo-iconbox-data">
                            <h3>PPC Marketing</h3>
                            <p>Driving targeted traffic to your website through strategic pay-per-click advertising campaigns in Google Ads, Facebook Ads, and more, we're here to maximize your ROI and business grow.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.5s">
                        <div class="aximo-iconbox-data">
                            <h3>Social Media Management</h3>
                            <p>With a personalized approach tailored to your brand's voice and objectives, we ensure that your social media presence reflects your unique identity and resonates with your target audience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.6s">
                        <div class="aximo-iconbox-data">
                            <h3>Email Marketing</h3>
                            <p>We specialize in compelling content creation to strategic campaign optimization to help you harness the power of email marketing to grow your business.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.7s">
                        <div class="aximo-iconbox-data">
                            <h3>Creative Services</h3>
                            <p>Whether you're looking to launch a new product, rebrand your business, or create buzz around your next big event, we're here to help you stand out in a crowded marketplace.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.8s">
                        <div class="aximo-iconbox-data">
                            <h3>PR</h3>
                            <p>Whether you're launching a new product, managing a crisis, or seeking to enhance your brand's reputation, our experienced team is here to guide you every step of the way.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="aximo-divider"></div>
    </div>
</div>
<!-- End Services Section -->

<!-- Why Choose Us Section -->
<div class="section aximo-section-padding light-bg">
    <div class="container">
        <div class="aximo-section-title-center">
            <div class="row">
                <div class="col-lg-12 choose-title-wrapper">
    <h2>
        Why choose 
        <span class="aximo-title-animation">
            us?
            <span class="aximo-title-icon">
                <img src="/static/assets/images/v1/star2.png" alt="">
            </span>
        </span>
    </h2>

    <div class="aximo-why-choose-image">
        <img src="{% static 'assets/images/123213131-PhotoRoom.png' %}">
    </div>
</div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6">
                <div class="aximo-feature-box wow fadeInLeft" data-wow-delay="0.1s">
                    <h3>Trailblazing Creativity</h3>
                    <p>Our team of creative minds is dedicated to pushing the boundaries of what's possible in marketing.</p>
                </div>
                
                <div class="aximo-feature-box wow fadeInLeft" data-wow-delay="0.2s">
                    <h3>Customized Solutions</h3>
                    <p>We understand that one size does not fit all. Our solutions are tailored to meet the unique needs and goals of each client.</p>
                </div>
                
                <div class="aximo-feature-box wow fadeInLeft" data-wow-delay="0.3s">
                    <h3>Proven Results</h3>
                    <p>Our track record speaks for itself. We have a history of delivering tangible and measurable results for our clients.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="aximo-feature-box wow fadeInLeft" data-wow-delay="0.4s">
                    <h3>Continuous Learning</h3>
                    <p>In an ever-evolving landscape, we stay ahead of the curve by embracing continuous learning and abreast of industry trends.</p>
                </div>
                
                <div class="aximo-feature-box wow fadeInLeft" data-wow-delay="0.5s">
                    <h3>Client-Centric Approach</h3>
                    <p>Your success is our success. We value transparent communication and prioritize building long-lasting partnerships with our clients.</p>
                </div>
            </div>
        </div>
        
        <div class="aximo-divider"></div>
    </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Testimonials Section -->
<div class="section aximo-section-padding light-bg">
    <div class="container">
        <div class="aximo-section-title-center">
            <div class="row">
                <div class="col-lg-12">
                    <h2>
                        Clients are always
                        <span class="aximo-title-animation">
                            satisfied with us
                            <span class="aximo-title-icon">
                                <img src="{% static 'assets/images/v1/star2.png' %}" alt="">
                            </span>
                        </span>
                    </h2>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6">
                <div class="aximo-testimonial-wrap wow fadeInUpX" data-wow-delay="0.1s">
                    <div class="aximo-testimonial-rating">
                        <ul>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                        </ul>
                    </div>
                    <div class="aximo-testimonial-data">
                        <h3>Completely transformed!</h3>
                        <p>Thank you to Wizz Digital team. They have completely transformed....</p>
                    </div>
                    <div class="aximo-testimonial-author">
                        <div class="aximo-testimonial-author-thumb">
                            <img src="{% static 'assets/images/r_talk.png' %}" alt="Talk">
                        </div>
                        <div class="aximo-testimonial-author-data">
                            <p>Talk</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="aximo-testimonial-wrap wow fadeInUpX" data-wow-delay="0.2s">
                    <div class="aximo-testimonial-rating">
                        <ul>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                        </ul>
                    </div>
                    <div class="aximo-testimonial-data">
                        <h3>Innovative and professional</h3>
                        <p>The team's creativity and attention to detail have resulted in impactful campaigns that resonate with our audience.</p>
                    </div>
                    <div class="aximo-testimonial-author">
                        <div class="aximo-testimonial-author-thumb">
                            <img src="{% static 'assets/images/2-1.png' %}" alt="Takeshi">
                        </div>
                        <div class="aximo-testimonial-author-data">
                            <p>Takeshi</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="aximo-testimonial-wrap wow fadeInUpX" data-wow-delay="0.3s">
                    <div class="aximo-testimonial-rating">
                        <ul>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                        </ul>
                    </div>
                    <div class="aximo-testimonial-data">
                        <h3>Innovative approach and strategic thinking</h3>
                        <p>Working with Wizz Digital has been a game-changer for our brand. Their innovative approach and strategic thinking have elevated our marketing efforts to new heights.</p>
                    </div>
                    <div class="aximo-testimonial-author">
                        <div class="aximo-testimonial-author-thumb">
                            <img src="{% static 'assets/images/r_3.png' %}" alt="Fight flowers">
                        </div>
                        <div class="aximo-testimonial-author-data">
                            <p>Fight flowers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials Section -->

{% endblock %}