volumes:
  static_volume:

services:
  backend:
    image: egorovdocker/wizzdigital_backend:latest
    pull_policy: always
    env_file: .env
    volumes:
      - static_volume:/app/collected_static
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"

  gateway:
    image: egorovdocker/wizzdigital_gateway:latest
    pull_policy: always
    volumes:
      - static_volume:/staticfiles:ro
    ports:
      - "8000:80"
    depends_on:
      - backend
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "5m"
        max-file: "2"