{% load static %}

<footer class="aximo-footer-section dark-bg" id="getintouch">
    <div class="container">
        <div class="aximo-footer-top aximo-section-padding">
            <div class="row">
                <div class="col-lg-6">
                    <div class="aximo-default-content light position-relative">
                        <h2>Wizz Digital LLC</h2>
                        
                        <div class="aximo-info-wrap">
                            <div class="aximo-info">
                                <h4>Find Us</h4>
                                <ul>
                                    <li><a href="https://maps.app.goo.gl/zr6nXUjUHRfkWn8f9" target="_blank">8383 Wilshire Blvd., Suite 800, Beverly Hills, CA 90211</a></li>
                                </ul>
                            </div>
                            <div class="aximo-info">
                                <h4>Call Us</h4>
                                <ul>
                                    <li><a href="tel:+18007921735">(800) 792-1735</a></li>
                                </ul>
                            </div>
                            <div class="aximo-info">
                                <h4>Send us an email:</h4>
                                <ul>
                                    <li><a href="mailto:contact@wizzdigital.com">contact@wizzdigital.com</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="aximo-social-icon social-large">
                            <ul>
                                <li>
                                    <a href="https://instagram.com/wizzdigitallosangeles" target="_blank">
                                        <i class="icon-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="aximo-hero-shape aximo-footer-shape">
                            <img src="{% static 'assets/images/v1/shape1.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="aximo-form-wrap">
                        <h4>Send us a message</h4>
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="aximo-form-field">
                                <input type="text" name="name" placeholder="Your name" required>
                            </div>
                            <div class="aximo-form-field">
                                <input type="email" name="email" placeholder="Your email address" required>
                            </div>
                            <div class="aximo-form-field">
                                <input type="tel" name="phone" placeholder="+088-234-6849">
                            </div>
                            <div class="aximo-form-field">
                                <textarea name="message" placeholder="Write your message here..." required></textarea>
                            </div>
                            <button id="aximo-submit-btn" type="submit">
                                Send message 
                                <span><img src="{% static 'assets/images/icon/arrow-right3.svg' %}" alt=""></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="aximo-footer-bottom">
            <div class="row">
                <div class="col-lg-6">
                    <div class="aximo-footer-logo">
                        <a href="{% url 'core:index' %}">
                            <h3 class="footer-brand">Wizz Digital</h3>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="aximo-copywright one">
                        <p>&copy; Copyright {% now "Y" %}, All Rights Reserved. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>