{% load static %}

<header class="site-header aximo-header-section aximo-header1 dark-bg" id="sticky-menu">
    <div class="container">
        <nav class="navbar site-navbar">
            <!-- Brand Logo-->
            <div class="brand-logo">
                <a href="{% url 'core:index' %}">Wizz Digital</a>
            </div>
            <div class="menu-block-wrapper">
                <div class="menu-overlay"></div>
                <nav class="menu-block" id="append-menu-header">
                    <div class="mobile-menu-head">
                        <div class="go-back">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="current-menu-title"></div>
                        <div class="mobile-menu-close">&times;</div>
                    </div>
                    <ul class="site-menu-main">
                        <li class="nav-item">
                            <a href="{% url 'core:index' %}" class="nav-link-item">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'core:index' %}#about" class="nav-link-item">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'core:index' %}#services" class="nav-link-item">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'core:financial_consulting' %}" class="nav-link-item">Financial Consulting</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'core:index' %}#getintouch" class="nav-link-item">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="header-btn header-btn-l1 ms-auto d-none d-xs-inline-flex">
                <a class="aximo-default-btn pill aximo-header-btn aximo-book-btn" href="{% url 'core:book_consultation' %}">
                    <span class="content" style="color: rgb(0, 0, 0);">Book Consultation</span>
                </a>
            </div>
            <!-- mobile menu trigger -->
            <div class="mobile-menu-trigger light">
                <span></span>
            </div>
        </nav>
    </div>
</header>