{% load static %}

<section class="aximo-section-padding" id="about">
    <div class="container">
        <!-- Section Title -->
        <div class="aximo-section-title">
            <div class="row">
                <div class="col-lg-12">
                    <h2>
                        Your Digital 
                        <span class="aximo-title-animation">
                            Marketing Agency
                            <span class="aximo-title-icon">
                                <img src="{% static 'assets/images/v1/star2.png' %}" alt="">
                            </span>
                        </span>
                    </h2>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-6">
                <div class="aximo-about-content">
                    <h3>Background</h3>
                    <p>Welcome to Wizz Digital, where innovation meets impact in the dynamic realm of marketing. Here, we redefine the landscape of marketing by blending creativity, cutting-edge technology, and strategic insights to craft unparalleled experiences that captivate audiences and drive results.</p>
                    
                    <div class="aximo-spacer-30"></div>
                    
                    <h3>Solution</h3>
                    <p>We deliver tailored solutions by starting with strategic consultations to understand each client's unique challenges and goals. Our approach involves crafting customized marketing strategies, developing innovative campaigns, and leveraging data-driven insights for measurable results. Through digital transformation, brand development, and technology integration, we ensure our clients stay ahead in the dynamic market. We prioritize continuous optimization, education, and collaborative partnerships, working closely with clients to empower them and exceed expectations.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="aximo-about-thumb wow fadeInUp" data-wow-delay="0.2s">
                    <img src="{% static 'assets/images/v1/about.png' %}" alt="About Wizz Digital">
                </div>
            </div>
        </div>
    </div>
</section>
