{% load static %}

<section class="aximo-hero-section dark-bg">
    <div class="container position-relative">
        <div class="row">
            <div class="col-lg-8">
                <div class="aximo-hero-content">
                    <h1>
                        <span class="aximo-title-animation">
                            Ready to
                            <img src="{% static 'assets/images/v1/star.png' %}" alt="">
                        </span>
                        Redefine Your Narrative?
                    </h1>
                    <p>Welcome to Wizz Digital, where innovation meets impact in the dynamic realm of marketing. We redefine the landscape by blending creativity, cutting-edge technology, and strategic insights.</p>
                    
                    <div class="aximo-hero-btn-wrap">
                        <a class="aximo-default-btn pill" href="#getintouch">
                            Get in Touch
                        </a>
                    </div>
                    
                    <div class="aximo-hero-shape">
                        <img src="{% static 'assets/images/v1/shape1.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="aximo-hero-thumb wow fadeInRight" data-wow-delay="0s">
                    <img src="{% static 'assets/images/v1/slider.svg' %}" alt="Digital Marketing">
                </div>
            </div>
        </div>
    </div>
</section>
