{% load static %}

<section class="aximo-section-padding" id="services">
    <div class="container">
        <div class="aximo-section-title center">
            <h2>
                <span class="aximo-title-animation">
                    Services
                    <span class="aximo-title-icon">
                        <img src="{% static 'assets/images/v1/star2.png' %}" alt="">
                    </span>
                </span>
            </h2>
            <p class="rt-spacer-60">Elevate your marketing strategy and make a difference.</p>
        </div>
        
        <div class="aximo-service-wrap">
            <div class="row">
                <!-- Marketing Strategy Development -->
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.1s">
                        <div class="aximo-iconbox-data">
                            <h3>Marketing Strategy Development</h3>
                            <p>From comprehensive market analysis to targeted campaign planning, our experienced team is dedicated to devising innovative solutions that drive growth and maximize ROI.</p>
                        </div>
                    </div>
                </div>
                
                <!-- SEO + Social Media Marketing -->
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.2s">
                        <div class="aximo-iconbox-data">
                            <h3>SEO + Social Media Marketing</h3>
                            <p>Crafting integrated marketing strategies that combine the power of search engine optimization and social media to boost your online presence and drive meaningful connections with your audience.</p>
                        </div>
                    </div>
                </div>
                
                <!-- Social Media Management -->
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.3s">
                        <div class="aximo-iconbox-data">
                            <h3>Social Media Management</h3>
                            <p>With a personalized approach tailored to your brand's voice and objectives, we ensure that your social media presence reflects your unique identity and resonates with your target audience.</p>
                        </div>
                    </div>
                </div>
                
                <!-- Creative Services -->
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.4s">
                        <div class="aximo-iconbox-data">
                            <h3>Creative Services</h3>
                            <p>Whether you're looking to launch a new product, rebrand your business, or create buzz around your next big event, we're here to help you stand out in a crowded marketplace.</p>
                        </div>
                    </div>
                </div>
                
                <!-- E-commerce Marketing -->
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.5s">
                        <div class="aximo-iconbox-data">
                            <h3>E-commerce Marketing</h3>
                            <p>We specialize in strategic advertising campaigns to targeted email marketing, our experienced team is dedicated to maximizing your online presence and maximizing your return on investment.</p>
                        </div>
                    </div>
                </div>
                
                <!-- PPC Marketing -->
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.6s">
                        <div class="aximo-iconbox-data">
                            <h3>PPC Marketing</h3>
                            <p>Driving targeted traffic to your website through strategic pay-per-click advertising campaigns in Google Ads, Facebook Ads, and more, we're here to maximize your ROI and business grow.</p>
                        </div>
                    </div>
                </div>
                
                <!-- Email Marketing -->
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.7s">
                        <div class="aximo-iconbox-data">
                            <h3>Email Marketing</h3>
                            <p>We specialize in compelling content creation to strategic campaign optimization to help you harness the power of email marketing to grow your business.</p>
                        </div>
                    </div>
                </div>
                
                <!-- PR -->
                <div class="col-lg-6">
                    <div class="aximo-iconbox-wrap wow fadeInUpX" data-wow-delay="0.8s">
                        <div class="aximo-iconbox-data">
                            <h3>PR</h3>
                            <p>Whether you're launching a new product, managing a crisis, or seeking to enhance your brand's reputation, our experienced team is here to guide you every step of the way.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
