{% load static %}

<section class="aximo-section-padding3">
    <div class="container">
        <div class="aximo-section-title center">
            <h2>
                Clients are always
                <span class="aximo-title-animation">
                    satisfied with us
                    <span class="aximo-title-icon">
                        <img src="{% static 'assets/images/v1/star2.png' %}" alt="">
                    </span>
                </span>
            </h2>
        </div>
        
        <div class="row">
            <!-- Testimonial 1 -->
            <div class="col-lg-6">
                <div class="aximo-testimonial-wrap wow fadeInUpX" data-wow-delay="0.1s">
                    <div class="aximo-testimonial-rating">
                        <ul>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                        </ul>
                    </div>
                    <div class="aximo-testimonial-data">
                        <h3>Completely transformed!</h3>
                        <p>Thank you to Wizz Digital team. They have completely transformed our marketing approach and delivered exceptional results for our business.</p>
                    </div>
                    <div class="aximo-testimonial-author">
                        <div class="aximo-testimonial-author-thumb">
                            <img src="{% static 'assets/images/v1/r_talk.png' %}" alt="Talk">
                        </div>
                        <div class="aximo-testimonial-author-data">
                            <p>Talk</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Testimonial 2 -->
            <div class="col-lg-6">
                <div class="aximo-testimonial-wrap wow fadeInUpX" data-wow-delay="0.2s">
                    <div class="aximo-testimonial-rating">
                        <ul>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                        </ul>
                    </div>
                    <div class="aximo-testimonial-data">
                        <h3>Innovative and professional</h3>
                        <p>The team's creativity and attention to detail have resulted in impactful campaigns that resonate with our audience.</p>
                    </div>
                    <div class="aximo-testimonial-author">
                        <div class="aximo-testimonial-author-thumb">
                            <img src="{% static 'assets/images/v1/r_3.png' %}" alt="Takeshi">
                        </div>
                        <div class="aximo-testimonial-author-data">
                            <p>Takeshi</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Testimonial 3 -->
            <div class="col-lg-6">
                <div class="aximo-testimonial-wrap wow fadeInUpX" data-wow-delay="0.3s">
                    <div class="aximo-testimonial-rating">
                        <ul>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                            <li><i class="icon-star"></i></li>
                        </ul>
                    </div>
                    <div class="aximo-testimonial-data">
                        <h3>Innovative approach and strategic thinking</h3>
                        <p>Working with Wizz Digital has been a game-changer for our brand. Their innovative approach and strategic thinking have elevated our marketing efforts to new heights.</p>
                    </div>
                    <div class="aximo-testimonial-author">
                        <div class="aximo-testimonial-author-thumb">
                            <img src="{% static 'assets/images/v1/2-1.png' %}" alt="Fight flowers">
                        </div>
                        <div class="aximo-testimonial-author-data">
                            <p>Fight flowers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
