{% load static %}

<section class="aximo-section-padding light-bg">
    <div class="container">
        <div class="aximo-section-title">
            <div class="row">
                <div class="col-lg-7">
                    <h2>
                        Why choose 
                        <span class="aximo-title-animation">
                            us?
                            <span class="aximo-title-icon">
                                <img src="{% static 'assets/images/v1/star2.png' %}" alt="">
                            </span>
                        </span>
                    </h2>
                </div>
            </div>
        </div>
        
        <div class="row">
            <!-- Trailblazing Creativity -->
            <div class="col-lg-6">
                <div class="aximo-feature-box wow fadeInLeft" data-wow-delay="0.1s">
                    <h3>Trailblazing Creativity</h3>
                    <p>Our team of creative minds is dedicated to pushing the boundaries of what's possible in marketing.</p>
                </div>
            </div>
            
            <!-- Customized Solutions -->
            <div class="col-lg-6">
                <div class="aximo-feature-box wow fadeInLeft" data-wow-delay="0.2s">
                    <h3>Customized Solutions</h3>
                    <p>We understand that one size does not fit all. Our solutions are tailored to meet the unique needs and goals of each client.</p>
                </div>
            </div>
            
            <!-- Proven Results -->
            <div class="col-lg-6">
                <div class="aximo-feature-box wow fadeInLeft" data-wow-delay="0.3s">
                    <h3>Proven Results</h3>
                    <p>Our track record speaks for itself. We have a history of delivering tangible and measurable results for our clients.</p>
                </div>
            </div>
            
            <!-- Continuous Learning -->
            <div class="col-lg-6">
                <div class="aximo-feature-box wow fadeInLeft" data-wow-delay="0.4s">
                    <h3>Continuous Learning</h3>
                    <p>In an ever-evolving landscape, we stay ahead of the curve by embracing continuous learning and abreast of industry trends.</p>
                </div>
            </div>
            
            <!-- Client-Centric Approach -->
            <div class="col-lg-6">
                <div class="aximo-feature-box wow fadeInLeft" data-wow-delay="0.5s">
                    <h3>Client-Centric Approach</h3>
                    <p>Your success is our success. We value transparent communication and prioritize building long-lasting partnerships with our clients.</p>
                </div>
            </div>
        </div>
    </div>
</section>
